 {{!-- view create blog --}}
 <body>
 <h2>BLOG HỌC TẬP </h2>
<form action="/create" method="post">
  <div class="imgcontainer">
    <img src="site/image/logo.png" width="100px" height="100px" >
  </div>

  <div class="container">
    <label for="mycontent"><b>Chủ đề của bạn</b></label>
    <input type="text" placeholder="Enter content" name="mycontent" >
 
    <button type="submit">Tạo Blog</button>
  </div>
</form>

</body>